.breadcrumb-container {
    display: flex;
    align-items: center;
    // margin-left: 10px;
    font-size: 14px; // Tuỳ chỉnh kích thước chữ
    color: #ff0000; // Màu chữ
  }
  .breadcrumb-icon {
    display: flex;
    align-items: center;
    gap: 8px; // Khoảng cách giữa icon và text (tuỳ chỉnh)
  }
  
  .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.3);
    text-align: center;
    color: #fff;
    font-size: 18px;
    line-height: 32px;
  }
  
  .ant-layout-header {
    padding: 0 !important;
  }
  
  .ant-breadcrumb {
    padding: 12px;
    background-color: #f3f4f6; /* Màu nền xám đậm cho phần tiêu đề */
    font-weight: bold;
    color: #000000; /* Màu chữ trắng */
    border: 2px solid #f2f3f3; /* Viền màu tối */
    border-radius: 8px; /* Bo tròn góc */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bóng đổ nhẹ */
    margin-bottom: 20px; /* Khoảng cách dưới tiêu đề */


    // margin-bottom: 16px;
  
    .ant-breadcrumb-link {
      display: flex;
      align-items: center;
      gap: 8px;
  
      a {
        color: #1890ff;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
          text-decoration: none;
        }
      }
    }
  
    .ant-breadcrumb-separator {
      color: #999;
    }
  }

.admin-breadcrumb {
  padding: 16px 24px;
  // background-color: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);

  .ant-breadcrumb {
    font-size: 14px;

    a {
      color: #1890ff;
      
      &:hover {
        color: #40a9ff;
      }
    }

    .anticon {
      margin-right: 8px;
    }
  }
}